body{
	background:url(rinjani2018.jpg);
	background-size:cover;
	font:90%/160% arial, helvetica,sans-serif;
	color:#666;
	width:96%;
	max-width:96%;
	margin:auto;
}
p{
	margin-bottom:10px;
}
a{
	color:#ffe400;
	text-decoration:none;
}
a:hover{
	color:#F60;
}
h1,h2,h3{
	color:#000;
	line-height:120%;
	margin:30px 0 10px;
}
h1{
	font-size:2em;
	color:#000;
}
h2{
	font-size:1.4em;
	border-top:solid 1px #eee;
	padding-top:20px;
}
h3{
	font-size:1.1em;
}
.header{
	border-bottom:2px solid #FFFFFF;
	width:930px;
	max-width:96%;
	padding:20px 0px 0px 0px;
	margin:0 auto;
}
.header h1, .header h2, .header h3{
	margin:0px;
}
/*navigation*/
.navigation{
	margin:20px 0 0 0;
}
.navigation ul{
	margin:0;
	padding:0;
}
.navigation li{
	margin:0 5px 10px 0;
	padding:0;
	list-style:none;
	display:inline-block;
	*display:inline; /*ie7*/
}
.navigation a{
	padding:3px 12px;
	text-decoration:none;
	color:#ff4e00;
	line-height:100%;
}
.naviation a:hover{
	color:#000;
}
.navigation .current a{
	background:#555;
	color:#fff;
	border-radius:5px;
}
.wrap{
	width:930px;
	max-width:96%;
	padding:10px 0px 10px 0px;
	margin:0 auto;
}
.wrap:after{
	content:".";display:block;height:0;
	overflow:hidden;clear:both;visibility:hidden;
}
.content{
	background:#FFFFFF;
	float:left;
	padding:10px;
	width:580px;
}
.content h1, .content h2, .content h3{
	border-bottom:1px dotted #666666;
	margin:0px 0px 10px 0px;
	padding:3px 0px;
}
.sidebar{
	background:#FFFFFF;
	width:300px;
	padding:10px;
	float:right;
}
.sidebar p{
	margin:0 auto;
}
.sidebar h1, .sidebar h2, .sidebar h3{
	border-bottom:1px dotted #666666;
	margin:0px 0px 10px 0px;
	padding:3px 0px;
}
.sidebar.column-3{
	display:none;
}
.footer{
	border-top:2px solid #FFFFFF;
	width:930px;
	max-width:96%;
	padding:10px 0px 10px 0px;
	margin:0 auto;
}
.footer p {
	text-align:center;
}
@media screen and (max-width: 1024px) {
	.content{
		width:98%;
		padding:1%;
		float:none;
		margin bottom:10px;
	}
	.sidebar{
		width:98%;
		padding:0%;
		float:none;
	}
	.sidebar .column-1, .sidebar .cloumn-2{
		display: none;
	}
	.sidebar .column-3{
		display:block;
	}
}
@media screen and (max-width:500px) {
	.navigation{
		position:relative;
		min-height:36px;
		margin-bottom:10px;
	}
	.navigation ul{
		width:180px;
		padding:5px 0;
		position:absolute;
		top:0;
		left:0;
		border:solid 1px #aaa;
		background:#fff url("http://www.w3function.com/images_tutor/icon-menu-72.png") no-repeat 10px 11px;
		border-radius:5px;
		box-shadow:0 1px 2px rgba(0,0,0,.3);
	}
	.navigation li{
		display:none; /*hide all<li> items*/
		margin:0;
	}
	.navigation .current{
		display:block; /*show only current<li> item*/
	}
	.navigation a{
		display:block;
		padding:5px 5px 5px 32px;
		text-align:left;
	}
	.navigation .current a {
		background:none;
		color:#666;
	}
	/*on navigation hover*/
	.navigation ul:hover {
		background-image:none;
	}
	.navigation ul:hover li {
		display:block;
		margin:0 0 5px;
	}
	.sidebar .column-1{
		display:block;
	}
	.sidebar .column-3, .sidebar .column-2{
		display:none;
	}


}